 <!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Quake Team</title>
	<link rel="stylesheet" type="text/css" href="default.css"/>
</head>

<body class="bg" >
	<div id= "table-container" >
		<table id="table" border="5px">
			<thead >
				<tr>
				<th colspan="2"><h1 style= "color:white">QUAKE</h1></th>
				</tr>
				<tr>
				<th><h3 style= "color:white">Student ID</h3></th>
				<th><h3 style= "color:white">Full name</h3></th>
				</tr>
			</thead>
			
			<tbody style="background-color:#95B9C7">
				<tr>
					<td><a href="./members/1212004/1212004.ejs">1212004</a></td>
					<td><a href="./members/1212004/1212004.ejs">Ngô Văn Việt Anh</a></td>
				</tr>	
				<tr>
					<td><a href="./members/1312489/1312489.ejs">1312489</a></td>
					<td><a href="./members/1312489/1312489.ejs">Nguyễn Ngọc Son</a></td>
				</tr>	
				<tr>
					<td><a href="./members/1412045/1412045.ejs">1412045</a></td>
					<td><a href="./members/1412045/1412045.ejs">Nguyễn Ngọc Bình</a></td>
				</tr>	
			</tbody>
		</table>
	</div>	
	<div id="img-container">
		<img src="./images/Team.png" alt="#Team" usemap="#TeamMap" height="200px"/>
		<map name="#TeamMap">
			<area shape="circle" coords="170,100,75" href="./members/1212004/1212004.ejs">
			<area shape="circle" coords="540,70,75" href="./members/1312489/1312489.ejs">
			<area shape="circle" coords="820,95,40" href="./members/1412045/1412045.ejs">
		</map>
	</div>
</body>
</html> 